{
  "env": {
    "browser": true,
    "amd": true
  },

  "globals": {
    "assert": true,
    "test": true,
    "asynctest": true
  },

  "rules": {
    "eqeqeq": "error",
    "yoda": "error"
  },

  "extends": "../../../../.eslintrc"
}
