blockquote {
  border-left: 3px solid rgba(0,0,0,.8);
  padding-left: 20px;
  margin: 0;
}

.mce-edit-focus {
  outline: 1px solid blue;
}

.tinymce {
  margin: 10px;
  padding: 10px;
  overflow: auto;
  border: 1px solid gray;
}

table, td {
  border: 1px dashed gray;
}

/*.mce-tinymce-inline {
  transition: left 50ms ease-in-out, top 50ms ease-in-out;
}
*/