.message{
    &-main-con{
        width: 100%;
        height: 100%;
    }
    &-mainlist-con{
        position: absolute;
        left: 0;
        top: 10px;
        width: 300px;
        padding: 10px 0;
        div{
            padding: 10px;
            margin: 0 20px;
            border-bottom: 1px dashed #d2d3d2;
            &:last-child{
                border: none;
            }
            .message-count-badge-outer{
                float: right;
            }
            .message-count-badge{
                background: #d2d3d2;
            }
            &:first-child .message-count-badge{
                background: #ed3f14;
            }
            .mes-type-btn-text{
                margin-left: 10px;
            }
        }
    }
    &-content-con{
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 300px;
        background: white;
        border-radius: 3px;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .1);
        overflow: auto;
        .message-title-list-con{
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        .message-content-top-bar{
            padding: 10px 0;
            border-bottom: 1px solid #dededb;
        }
    }
}
.back-message-list-enter, .back-message-list-leave-to{
    transform: translateX(100%);
}
.back-message-list-enter-active, .back-message-list-leave-active{
    transition: transform .5s;
}
.back-message-list-enter-to, .back-message-list-leave{
    transform: translateX(0);
}
.view-message-enter, .view-message-leave-to{
    transform: translateX(-100%);
}
.view-message-enter-active, .view-message-leave-active{
    transition: transform .5s;
}
.view-message-enter-to, .view-message-leave{
    transform: translateX(0);
}
.mes-current-type-btn-enter, .mes-current-type-btn-leave-to{
    opacity: 0;
    width: 0;
}
.mes-current-type-btn-enter-active, .mes-current-type-btn-leave-active{
    transition: all .3s;
}
.mes-current-type-btn-enter-to, .mes-current-type-btn-leave{
    opacity: 1;
    width: 12px;
}